<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Zapatos - Productos</title>
</head>
<body>
  <header>
    <h1>Nuestros Productos</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/about">Acerca de</a>
      <a href="/products">Productos</a>
      <a href="/order">Pedidos</a>
    </nav>
  </header>
  <main>
    <section class="container">
      <div class="product">
        <h3>Zapato Deportivo</h3>
        <p>Color: Rojo</p>
        <p><img src="/images/zapatorojo.jpg"></p>
        <p>Diseño: Moderno</p>
        <p>Precio: $50</p>
      </div>
      <div class="product">
        <h3>Zapato Formal</h3>
        <p>Color: Negro</p>
        <p><img src="/images/elegantemujer.jpg"></p>        
        <p>Diseño: Clásico</p>
        <p>Precio: $100</p>
      </div>
      <div class="product">
        <h3>Zapato casual</h3>
        <p>Color: Negro</p>
        <p><img src="/images/zapatonegro.jpg"></p>
        <p>Diseño: Deportivo</p>
        <p>Precio: $90</p>
      </div>
    </section>
    <section class="container">
      <div class="navigation-links">
        <p><a href="/">Inicio</a></p>
        <p><a href="/about">Acerca de</a></p>
        <p><a href="/order">Pedidos</a></p>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Zapatos Tesla SAS</p>
  </footer>
</body>
</html>
